.index-card{
    z-index: 2;
    min-height: 30%;
    width: 30% ;
    border: solid black 3px;
    border-radius: 25px;
    align-self: center;
    position: relative;
    bottom: -50%
}

.carousel{
justify-self: center;
align-self: center;
z-index: 1;
}

.carrito-element{
  width:100%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  height: 15vh;
  background-color: #fff;
  border: #7ecb20 solid 1px;
}

.carrito-element p{
  font-size: calc(.4rem + 1vw);
  align-self: center;
  margin: 0;
}
.carrito-element .price{
/* position: relative; */
  /* margin-top: auto; */
  align-self: flex-end;
}
.carrito-element .btn-close{
  align-self: flex-start;
}
.clear-car{
  width: 100%;
  font-size: calc(.7rem + 1vw);
  cursor: pointer;
  background-color: #7ecb20;
  text-align: center;
  
}

.img-carrito{
  height: 100%;
}



.resultadoContacto{
    margin-top: 5%;
    padding: 10px;
    background: rgb(231,255,140);
  background: linear-gradient(0deg, rgba(231,255,140,1) 0%, rgba(255,255,255,1) 100%);
  border-radius:5px;
  border: 0;
  border-bottom: 2px solid #7ecb20;
  color: rgb(36, 36, 36);
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 15px;

}

textarea{
    resize: none;
    width: 80%;
}

.botonContacto{
    width:30% ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body{
    max-width: 100vw;
    min-height: 100vh;
  }
  
  header{
    background: linear-gradient(45deg,#AFF1DA,#F9EA8F);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  
  .header{
    height: 100px;
    background: transparent;
  }

  .burguer-container{
    background-color: #b3cc5c;
    display: flex;
    justify-content: center;
    align-items:center;
    height:75%;
    width:25px;
    border-radius:3px;
  }
  
  .header img{
    height: 100%;
    width:auto;
    margin-left:2rem;
  }
  
  .burguer{
    background-color:#e7ff8c;
    width:100%;
    height:2rem;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  
  .img-burguer{
    height:20px
  }
  
  .nav{
    display: flex;
    flex-direction:column;
    background-color: #e7ff8c;
    justify-content:center;
    align-items:center;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  
  .nav-item{
    border: 1px solid gray;
    width:100%;
  }
  
  .nav-link{
    color: black;
    width:100%;
    text-align: center;
  }
  
  .hidden1{
    display: none !important;
  }
  
  .hidden2{
    display: none;
  }
  
  .carrito-container{
    display:flex;
    justify-content:start;
    flex-direction:column;
    align-items: flex-end;
    position: fixed;
    top: 5vh;
    right: 5%;
    height: fit-content;
    width: 90%;
    z-index: 400;
    gap: 1rem;
  }
  .carrito-container.carrito-altura{
    height: 95vh;
  }
  .carrito-img{
    width:100%;
    height:2.5rem;
    display:flex;
    justify-content:flex-end;
    align-items:center;
  }
  
  .cart-size{
    width:2.5rem;
    height:2.5rem;
    background-color:#7ecb20;
    height: 100%;
    border-radius:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .cart-size svg{
    width:60%;
  }
  
  .carrito-content{
    z-index: 5;
    display: flex;
    width: 95%;
    flex-direction:column;
    overflow-y: scroll;
    gap: 1vh;
  }



  .main{
    width: 100%;
    height: 100%;
    background-color:#e7ff8c;
}

.footer{
    width: 100%;
    background: linear-gradient(45deg,#20BF55,#01BAEF);
    margin: 0px;
}

.divFooter{
    width: 90%;
}



.div{
    width: 100%;
    background-color: #e7ff8c;
}

.tituloCard{
    width: 40vh;

}

.ofertaCard{
    width: 60vh;

}

.divTituloYofertas{
    height: 40vh;
}


.indexcard {
  z-index: 55;
    

    min-height: 30%;
    max-width: 40rem ;
    border: solid #7ecb20 1px;
    background-color: #e7ff8c;
    align-self: center;
    position: absolute;
}
.cardBody{
  columns: 150px auto;

}




.carsousel{

    z-index: 1;
justify-self: center;
align-self: center;


}

.parrafoFotter{
height: 200px;
 width: 200px
}



  
  @media (min-width:450px){

    .header{
      height: 150px;
    }
    .cart-size{
      width:4rem;
      height:4rem;
    }

    
  }

  


.card-oferta{
  margin-top: 70px;
  margin-bottom: 30px;
  background-color: #e7ff8c;
}



.titulo-oferta{
  color: black;
  font-size: large;
  font-weight: 600;
}

.title-container{
  background-image: url(/assets/img/perrito-enfermo.jpg);
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 80%;
}
.titulo-tienda{
  text-shadow: 3px 3px 5px rgb(255, 255, 255);
}

.title-container2{
  background-image: url(/assets/img/gatito-jugando.jpg);
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
}    

.filtros-container{
  background-color: #ffffbe;
  z-index: 5;
}
div.filtros-container{
  position: static;
}
footer{
  width: 100%;
  background-color:#7ecb20;
  margin: 0px;
}
/* contacto */
.form-contact{
max-width: 600px;
margin-top: 20px;
margin-bottom: 20px;
}
.perro-contacto{
width: 100px;
height: 100px;
}
.form-contact input,.form-contact textarea{
background: rgb(231,255,140);
background: linear-gradient(0deg, rgba(231,255,140,1) 0%, rgba(255,255,255,1) 100%);
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border: 0;
border-bottom: 2px solid #7ecb20;
color: rgb(36, 36, 36);
padding-top: 5px;
padding-left: 10px;
}
.form-contact input::placeholder,.form-contact textarea::placeholder{
color: #7ecb20;
}
.form-contact button{
background-color:#7ecb20;
}
.card-articulo{
width: 290px;
height: 500px;
font-size: 15px;
font-weight: bold;
display:flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: center;
}
.card-articulo >.card{
height: 95%;
width: 95%;
}
.card-articulo img{
height: 50%;
}
.card-articulo .card > div{
height: 50%;
}
a[href="#"]{
background-color: #e7ff8c;
color: black;
}
/* carrito html */
.main-carrito{
background: rgb(231,255,140);
border-radius: 10px;
box-shadow: 0 0 5px 2px #555;
min-height: 40vh;
margin-top: 30px;
margin-bottom: 30px;
}
.modal-card{
position: fixed;
top: 0;
left:0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
height: 100vh;
z-index: 1000;
background-color: rgba(78, 78, 78, .8);

}
.modal-card .btn-close{
align-self: flex-end;
position: absolute;
top: 4px;
right: 4px;
}
.modal-card .modal-content{
display: flex;
background-color: #e7ff8ccc;
flex-direction: column;
align-items: center;
width: 100%;
margin-top: 1rem;
height: 90vh;
overflow-y: scroll;
}
.modal-content .modal-body{
display: flex;
flex-direction: column;
align-items: center;
flex: none;
}
#cantidadStock{
  font-size: calc(.7rem + 1vw);
  background-color: transparent;
}
.modal-content .modal-footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
.modal-content .modal-tittle{
  font-size: calc(.9rem + 1vw);
  font-weight: bold;
}


.imgModal{
  height: 30vh;
  object-fit: contain;
}
.text-modal{
font-size: calc(.7rem + 1vw);
padding: 1vw;
}
.close-modal{
border: #7ecb20 solid 1px;
background-color: #e7ff8c;
}

.carrito-elemento{
background-color:#ffffff ;
border: #b2ff59 2px solid;
border-radius: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.imgn-carrito{
width: 12%;
height: 12%;
border-radius: 10px;
margin-right: 2%;
}

.descripcion-carrito{
width: 70%;
margin-right: 4%;
color: #4d8c00;
}

.btn-close-carrito{
margin-bottom: auto;
}

.nombre-carrito{
width: 15%;
margin-right: 4%;
font-weight: 600;
color: #4d8c00;
}

.precio-carrito{
margin-right: 2%;
color: #4d8c00;
}

.botones-carrito{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
height:8rem;
}

.comprar-carrito{
color: #4d8c00;
border: #4d8c00 solid 1px;
background-color: #e7ff8c;
}
@media (min-width:768px){
  
  .header{
    height:160px
  }

  #carrito{
    display: flex;flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }

  .imgn-carrito{
    height:200px !important;
  }
  
  .header img{
    height: 100%;
    width:auto;
    margin-left:5rem;
  }

  .nav{
    display: flex;
    flex-direction:row;
    background-color:#e7ff8c;
    justify-content:space-evenly;
    padding:0.5rem 0;
    align-items:center;
    position: relative;
    width: 100%;
    z-index: 10;
  }

  .nav-item{
    width:15%;
    background-color: #b3cc5c;
    margin: 5px 0;
  }

  .nav-link{
    color: black;
    transition: border 0.5s ease;
    border: 1px solid transparent;
  }

  .nav-link:hover{
    border: 1px solid black;
    color: black
  }

  .burguer{
    display:none;
  }

  .carrito-container{
    width: 60%;
  }
  .modal-card .modal-content{
    width: 80%;
  }


}
@media (min-width:1024px) {
.carrito-container{
    width: 40%;
}
div.filtros-container{
  position: sticky;
  top: 0;
}

.header{
    height: 300px
}

h1{
    font-size: 4rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
    
.header img{
    height: 100%;
    width:auto;
    margin-left:2rem;
    }


}

@media (max-width:700px) {

.indexcard {
 
  z-index: 0;
  min-height: 30%;
  max-width: 40rem ;
  align-self: center;
  display: flex;

  position: static;

}
.cardBody{
columns: 150px auto;

}

.footer{
  width: 100%;
  margin: 0px;
  justify-content: center;
}
}


@media (min-width:1440px){

  #carrito{
    display: flex;flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }



  .imgModal{
    max-height: 40vh;
  }
}

