.index-card{
    z-index: 2;
    background-color: aquamarine;
    color: blue;
    min-height: 30%;
    width: 30% ;
    border: solid black 3px;
    border-radius: 25px;
    align-self: center;
    position: relative;
    bottom: -50%
    

}

.carousel{
justify-self: center;
align-self: center;
z-index: 1;
}

.resultadoContacto{
    margin-top: 5%;
    padding: 10px;
    border: solid 2px;
}

textarea{
    resize: none;
    width: 80%;
}

.botonContacto{
    width:30% ;
}